.card {
  height: 150px;
  border-radius: 16px;
  padding: 24px;
  background-color: #302F3D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.3);
}

.projectTitleDiv {
  display: flex;
  gap: 16px;
  font-size: 0.7rem;
}

.subtitle {
  font-size: 0.7rem;
}

.statsDiv {
  display: flex;
  align-items: center;
  gap: 24px;
}

.stat {
  display: flex;
  align-items: center;
  gap: 8px;
}

.javascriptCircle {
  background-color: yellow;
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.folderIcon {
  width: 20px;
}

.statsIcon {
  width: 15px;
}

.footerInfo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.8rem;
}

.technology {
  display: flex;
  gap: 8px;
  align-items: center;
}