.card {
  height: 200px;
  padding: 24px;
  background-color: #302F3D;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: 3px 3px 0px 0px rgba(0,0,0,0.3);
}

.cardTitle {
  width: 100%;
  font-size: 1.3rem;
  position: absolute;
  top: 16px;
  left: 16px;
}

.technologiesList {
  margin-top: 36px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}
